/* navigation */


body {
    background-color: #f5c866;
}
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a306d;
    color: #f5c866;
    padding: 1em 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.nav a {
    text-decoration: none;
    padding: 10px;
    color: #f5c866;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.logo a:hover {
    text-decoration: underline;
}

. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.profilepic1 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: sticky;
    left: 640px;
    bottom: 400px;
    background-color: black;
    display: inline-block;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: 300;
    font-style: italic;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: 200;
    font-style: normal;
    width: 400px;
    height: 400px;
}

.secondtext {
    position: relative;
    left: 800px;
    bottom: 230px;
    width: 400px;
    height: 400px;

}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
    font-style: oblique;
}

.navbottom {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a306d;
    
}

.navbottom a {
    text-decoration: none;
    padding: 10px;
    color: #f5c866;
    position: relative;
    right: 900px;
}

.thirdtext {
    position: relative;
    bottom: 400px;
    width: 400px;
    height: 400px;
}

.fourthtext {
    position: relative;
    left: 800px;
    bottom: 450px;
    width: 400px;
    height: 400px;
}

.fifthtext {
    position: relative;
    bottom: 600px;
    width: 400px;
    height: 400px;
}

.sixthtext {
    position: relative;
    left: 800px;
    bottom: 800px;
    width: 400px;
    height: 400px;
}

.seventhtext {
    position: relative;
    bottom: 950px;
    width: 400px;
    height: 400px;
}

.eigthtext {
    position: relative;
    left: 800px;
    bottom: 980px;
    width: 400px;
    height: 400px;
}

.ninthtext {
    position: relative;
    bottom: 1090px;
    width: 400px;
    height: 400px;
}

.tenthtext {
    position: relative;
    left: 800px;
    bottom: 1200px;
    width: 400px;
    height: 400px;
}

.eleventext {
    position: relative;
    bottom: 1250px;
    width: 400px;
    height: 400px;
}

.twelvetext {
    position: relative;
    left: 800px;
    bottom: 1250px;
    width: 400px;
    height: 400px;
}

.thirteentext {
    position: relative;
    bottom: 1280px;
    width: 400px;
    height: 400px;
}

.fourteentext {
    position: relative;
    left: 800px;
    bottom: 1490px;
    width: 400px;
    height: 400px;
}

.fifteentext {
    position: relative;
    bottom: 1600px;
    width: 400px;
    height: 400px;
}

